/* Generali */
body{
    padding-top:106.08px;
}

/* Bottoni */

.ms_btn-dark {
    background-color: #363636;
    border: 2px solid #363636;
    transition: 200ms;
}

.ms_btn-dark:hover,
.ms_btn-dark:focus {
    background-color: #363636;
    box-shadow: 0 0 0 2px #fff inset;
    border: 2px solid #363636;

}


.ms_btn-red {
    background-color: #cd3d0f;
    border: 2px solid #cd3d0f;
    transition: 200ms;;
}

.ms_btn-red:hover,
.ms_btn-red:focus {
    background-color: #cd3d0f;
    box-shadow: 0 0 0 2px #000 inset;
    border: 2px solid #cd3d0f;

}


.ms_btn-primary {
    background-color: #2d64e6;
    border: 2px solid #2d64e6;
    transition: 200ms;;
}

.ms_btn-primary:hover,
.ms_btn-primary:focus {
    background-color: #2d64e6;
    box-shadow: 0 0 0 2px #fff inset;
    border: 2px solid #2d64e6;

}


.ms_btn-light {
    background-color: #d9dadc;
    border: 2px solid #d9dadc;
    transition: 200ms;;
}

.ms_btn-light:hover,
.ms_btn-light:focus {
    background-color: #d9dadc;
    box-shadow: 0 0 0 2px #000 inset;
    border: 2px solid #d9dadc;

}

/* Header */
#ms_logo-sony {
    width: 80px;
}

.banner {
    height: 750px;
}

.ms_banner-bg {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Game gallery */
.ms_game-gallery-btn {
    border-radius: 25px;
    border: 2px solid transparent;
    transition: transform 500ms;
}

#ms_game-gallery-btn-selected {
    outline: 2px solid #2d64e6;
}

.ms_game-gallery-btn:hover {
  transform: translate(0, -20px);
}

/* PS5 Console */
.ms_accessories-btn {
    display: block;
    height: 100%;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    transition: 300ms;
}

.ms_accessories-btn:hover {
    border-bottom: 2px solid #2d64e6;
    opacity: 1;

}

#ms_accessories-btn-selected {
    border-bottom: 2px solid #2d64e6;
    opacity: 1;
}

/* Game Grid */
#ms_game-grid-bg {
    background-color: #1f1f1f;
}

/* PlayStation Plus */
#ms_playstation-plus {
    background-color: #bebcbb;
}

/* PLayStation Now */
#ms_playstation-now {
    background-color: #161c3b;
}

/* Footer */
#ms_footer-bg {
    background-color: #00439c
}

#ms_globe-icon {
    width: 1rem;
}
